version: '3.8'
services:
  mongo:
    image: mongo:6
    ports:
      - 27017:27017
    volumes:
      - mongo-data:/data/db
  app:
    build: .
    environment:
      - MONGO_URI=mongodb://mongo:27017/ecofinds
      - JWT_SECRET=changeme
    ports:
      - 3000:3000
    depends_on:
      - mongo

volumes:
  mongo-data:
